<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark absolute-top">
	<a class="navbar-brand" href="/">
		<img src="media/pumpkin-outline.svg"/ style="width: 36px; height: 36px;">
		<!-- BC Hacktoberfest -->

	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
			<% if (!user) { %>
				<a class="nav-item nav-link" href="/login">Login</a>
				<% } else { %>
					<a class="nav-item nav-link" href="/account">Account</a>
					<a class="nav-item nav-link" href="/logout">Log Out</a>
					<% } %>
					<a class="nav-item nav-link" href="https://www.startupstorm.org/contact-us.html">Contact</a>
		</div>
	</div>
</nav>

		<div class="homepage-hero-module">

			<div class="video-container">
				<!-- <div class="filter"></div> -->
				<div class="poster hidden">
					<img src="media/Hello-World.jpg" alt="">
				</div>
				<video autoplay loop class="fillWidth">
					<source src="media/Hello-World.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
					<source src="media/Hello-World.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
				</video>
			</div><div class="text-container">
				<div class="container">
					<div style="text-align: center; color: white;">
						<h1 class="display-3 orange-text main-header">BC Hacktoberfest</h1>
						<br>
						<center><p class="lead" style="max-width: 50%;">A month-long open source competition for students in British Columbia, hosted by <a href="https://www.startupstorm.org" class="" style="color:#0094FF;">StartupStorm</a>, and inspired by <a href="https://hacktoberfest.digitalocean.com" class="text-warning">Hacktoberfest</a>.</p></center>
						<!-- <hr class="my-4"> -->
					</div>
				</div>
			</div>

			<div class="jumbotron">
				<div class="container">
					<div style="text-align: center">
						<h1 class="display-4 dark-orange-text">Introduction</h1>
						<!-- <p class="lead">A month-long open source competition for students in British Columbia, hosted by <a href="https://www.startupstorm.org">StartupStorm</a>, and inspired by <a href="https://hacktoberfest.digitalocean.com">Hacktoberfest</a>.</p> -->

						<hr class="my-4">
					</div>

					<div class="card" style="width: 100%;">
						<div class="card-body">
							<h4 class="card-title">How does this work?</h4>
							<!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
							<p class="card-text">Take some time this month to get involved with open source development on GitHub - as you make more contributions to external projects, you and your school's score will increase in the leaderboard below. <br><br><b>Leaderboard will be live on October 1st.</b></p>
						</div>
					</div>

					<div class="card" style="width: 100%;">
						<div class="card-body">
							<h4 class="card-title">What if I'm new to open source?</h4>
							<!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
							<p class="card-text">No problem! <a href="http://www.github.com">Create a GitHub account</a> and follow the <a href="https://opensource.guide/how-to-contribute/">official open source guide.</a></p><p>We will also be hosting a series of workshops in October to help you get started with open source development. <br>Like our <a href="https://www.facebook.com/StartupStorm/">Facebook page</a> to stay updated.</p>
						</div>
					</div>

					<div class="card" style="width: 100%;">
						<div class="card-body">
							<h4 class="card-title">When can I start?</h4>
							<p class="card-text">You can sign up anytime and the competition runs from October 1st to October 31st.</p>
						</div>
					</div>


					<% if (!user) { %>
						<div class="card" style="width: 100%;">
							<div class="card-body">
								<h4 class="card-title">How do I join?</h4>
								<!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
								<p class="card-text">Just sign up with GitHub! We also recommend that you sign up for the <a href="https://hacktoberfest.digitalocean.com/">Global Hacktoberfest Initiative</a>.</p>
								<p class="lead">
									<a class="btn btn-primary btn-lg" href="/login" role="button">Register</a>
								</p>
							</div>
						</div>
						<% } %>
					</div>
				</div>
					<center><h1 class="page-header dark-orange-text" style="margin-bottom: -10px;">LEADERBOARD</h1>
					</center>
					<br>

					<center>
					<% if (user) { %>
						<center><hr/>You are currently registered in the leaderboard. To manage your settings, go to your <a href="/account">account page</a>.</center>
						<% } %>
						<hr class="my-3" style="text-align: center;">

						<!-- <% for(var i=0; i<schools.length; i++) {%>
							<b>&nbsp;&nbsp;&nbsp; <%= schools[i].school %>:</b> <%= schools[i].leaderboard_count %> &nbsp;&nbsp;&nbsp;
							<% } %> -->

							<div id="leaderboard">
							<input type="text" class="fuzzy-search" placeholder="Search leaderboard"/>
							
							<table class="table table-inverse table-responsive" style="max-width: 1000px;">
								<thead>
									<tr>
										<th></th>
										<th>Username</th>
										<th>Number of Pull Requests</th>
										<th>School</th>
									</tr>
								</thead>
								<tbody class="list">
									<% for(var i=0; i<leaderboard_users.length; i++) {%>
										<tr>
											<td class="avatar"><a href="https://github.com/<%= leaderboard_users[i].username %>" style="text-decoration:none;"><img width="50px" height="50px" src="<%= leaderboard_users[i].avatar_url %>"/></a></td>
											<td class="username"><a href="https://github.com/<%= leaderboard_users[i].username %>" style="text-decoration:none; color: #ADD8E6;"><%= leaderboard_users[i].username %></a></td>
											<td class="count"><%= leaderboard_users[i].leaderboard_count %></td>
											<td class="school"><%= leaderboard_users[i].school %></td>
										</tr>
										<% } %>
									</tbody>
								</table>
									<div id="pages">PAGES:</div> <ul class="pagination"></ul>
								</div>
							</center>


							<hr class="my-3" style="text-align: center;">

					<center><h1 class="page-header dark-orange-text" style="padding-top: 20px; padding-bottom: 20px;">SPONSORS</h1>
				<div class="jumbotron" style="margin-bottom:0; height: 380px; background-color: #231F19;">
					<div id="sponsors">
					<center><br>
						<a href="https://www.digitalocean.com/"><img id="sponsor" src="media/digital-ocean.png"></img></a><br><br><br>
						<a href="https://www.github.com/"><img id="sponsor" src="media/github-logo.png"></img></a><br>
					</center>
				</div>
			</div>
				<center>


							</center>
							<script src="js/list.min.js"></script>
							<script src="js/video-cover.js"></script>
							<!-- Global Site Tag (gtag.js) - Google Analytics -->
							<script async src="https://www.googletagmanager.com/gtag/js?id=UA-101540407-4"></script>
							<script>
							  window.dataLayer = window.dataLayer || [];
							  function gtag(){dataLayer.push(arguments)};
							  gtag('js', new Date());

							  gtag('config', 'UA-101540407-4');
							</script>
							<script>
								var monkeyList = new List('leaderboard', {
									valueNames: ['avatar', 'username', 'count', 'school'],
									page: 10,
									pagination: true
								});
							</script>
